/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #f7f7f7;
    height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6, p, pre,
ul, ol, li, a, img, div, form, input,
input, textarea, table, tr, th, td, nav,
footer, header, hgroup, menu, figure, figcaption, time, meter {
    margin:0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, li, a, input, select,
textarea, legend, label, th, td, blockquote, q, span, div {
    font-size: 100%;
    font-weight: normal;
    line-height: 1.2;
    font-family: 'Cairo', sans-serif !important;
    color: #000;
}

p {
    line-height: 1.5;
}

div.wrapper {
    width: 100%;
    height: 100%;
}

div.wrapper section.home_slide {
    position: relative;
    background-image: url(/img/home_slide_background.jpg);
    width: 100%;
    height: 570px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}

div.wrapper section.home_slide_template {
    position: relative;
    width: 100%;
    height: 80px;
    background: #FFF;
}

div.wrapper section.buy_slide {
    position: relative;
    background-image: url(/img/buy_background.jpg);
    width: 100%;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center -100px;
    background-size: 100% auto;
    padding-top: 180px;
}

div.wrapper section.home_slide div.home_slide_content_wrapper,
div.wrapper section.home_slide_template div.home_slide_content_wrapper {
    width: 1140px;
    margin: 0 auto;
}

div.wrapper section.home_slide div.home_slide_content_wrapper a.mobile_menu,
div.wrapper section.home_slide div.home_slide_content_wrapper div.overlay,
div.wrapper section.home_slide div.home_slide_content_wrapper ul.mobile_menu,
div.wrapper section.home_slide_template div.home_slide_content_wrapper a.mobile_menu,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.overlay,
div.wrapper section.home_slide_template div.home_slide_content_wrapper ul.mobile_menu
{
    display: none;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.logo,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.logo {
    float: left;
    margin-top: 20px;
}

div.wrapper section.home_slide div.home_slide_content_wrapper h1,
div.wrapper section.home_slide_template div.home_slide_content_wrapper h1 {
    float: left;
    margin-top: 26px;
    line-height: 1.5;
    color: #FFF;
    font-size: 1.1em;
    margin-left: 15px;
    border-left: solid 3px #FFF;
    padding-top: 0px;
    padding-left: 15px;
}

div.wrapper section.home_slide_template div.home_slide_content_wrapper h1 {
    border-left: solid 3px #000;
    color: #000;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.head_tool_bar,
div.wrapper section.home_slide div.home_slide_content_wrapper div.authentication,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.head_tool_bar,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication {
    float: right;
    margin-top: 25px;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.authentication,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication {
    padding-left: 25px;
    margin-left: 20px;
    border-left: solid 2px #fff;
}

div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication {
    border-left: solid 2px #000;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.head_tool_bar ul,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.head_tool_bar ul {
    list-style: none;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.head_tool_bar ul li,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.head_tool_bar ul li {
    display: inline-block;
    padding: 3px;
    margin-left: 20px;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.head_tool_bar ul li a:link,
div.wrapper section.home_slide div.home_slide_content_wrapper div.head_tool_bar ul li a:visited,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.head_tool_bar ul li a:link,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.head_tool_bar ul li a:visited {
    color: #FFF;
    text-decoration: none;
    font-size: 1em;
}

div.wrapper section.home_slide_template div.home_slide_content_wrapper div.head_tool_bar ul li a:link,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.head_tool_bar ul li a:visited {
    color: #000;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.head_tool_bar ul li a:hover,
div.wrapper section.home_slide div.home_slide_content_wrapper div.head_tool_bar ul li a:active,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.head_tool_bar ul li a:hover,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.head_tool_bar ul li a:active {
    text-decoration: underline;
}

div.wrapper section.home_slide_template div.home_slide_content_wrapper div.head_tool_bar ul li a.selected {
    border-bottom: solid 3px #0072c1;
    color: #0072c1;
    font-weight: bold;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.authentication a:link,
div.wrapper section.home_slide div.home_slide_content_wrapper div.authentication a:visited,
div.wrapper section.home_slide div.home_slide_content_wrapper div.authentication span,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a:link,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a:visited,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication span {
    display: inline-block;
    font-size: 1em;
    color: #fff;
    padding: 3px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a:link,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a:visited,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication span {
    color: #000;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.authentication a.login,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a.login {
    border: solid 2px #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    margin-right: 5px;
}

div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a.login {
    border: solid 2px #000;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.authentication a.login:hover,
div.wrapper section.home_slide div.home_slide_content_wrapper div.authentication a.login:active,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a.login:hover,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a.login:active {
    background: #0072c1;
    border: solid 2px #0072c1;
}

div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a.login:hover,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a.login:active {
    color: #fff;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.authentication a.register,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a.register {
    border: solid 2px transparent;
    background: #0072c1;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    margin-left: 5px;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.authentication a.register:hover,
div.wrapper section.home_slide div.home_slide_content_wrapper div.authentication a.register:active,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a.register:hover,
div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication a.register:active {
    background: #fff;
    border: solid 2px #fff;
    color: #0072c1;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container {
    clear: both;
    width: 760px;
    margin: 0 auto;
    padding-top: 100px;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container h1 {
    border: none;
    font-size: 3em;
    text-align: center;
    float: none;
    margin-bottom: 35px;
    padding-left: 0;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul {
    list-style: none;
    margin: 0 auto 30px auto;
    width: 560px;
    padding-left: 20px;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul li {
    display: inline-block;
    margin-right: 57px;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul li:last-child {
    margin-right: 0;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul li a:link,
div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul li a:visited {
    padding: 2px 13px;
    text-decoration: none;
    font-size: 1.2em;
    color: #FFF;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul li a:hover,
div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul li a:active,
div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul li a.selected {
    background: rgba(0,114,193, 0.5);
    border-bottom: solid 3px #FFF;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container form {
    margin: 0 auto 20px auto;
    width: 560px;
    padding-left: 20px;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container form input[type=text] {
    background: #FFF;
    padding: 15px;
    font-size: 1.3em;
    font-weight: lighter;
    width: 500px;
    box-sizing: border-box;
    display: block;
    float: left;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container form input[type=text]::placeholder {
    color: #999;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container form button {
    width: 60px;
    padding: 16px 15px;
    background: #0072c1;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    box-sizing: border-box;
    font-size: 1.28em;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container form + p {
    width: 560px;
    margin: 0 auto;
    text-align: center;
    padding-left: 20px;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: lighter;
}

div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container form + p > span {
    color: inherit;
    font-weight: bold;
}

div.wrapper section.buy_slide h1 {
    border: none;
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    background: rgba(0, 114, 193, 0.35);
    padding: 10px;
    width: 550px;
}

div.wrapper section.buy_slide h1 + p {
    background: rgba(255, 165, 0, 0.4);
    color: #fff;
    padding: 10px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
}

div.wrapper section.buy_slide h1 + p > strong {
    font-weight: normal;
    border-bottom: solid 2px orange;
}

div.wrapper section.why_aqaratc_slide {
    width: 100%;
    background: #FFF;
}

div.wrapper section.why_aqaratc_slide div.why_aqaratc_slide_content_wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}

div.wrapper section.why_aqaratc_slide div.why_aqaratc_slide_content_wrapper h1 {
    font-size: 1.8em;
    text-align: center;
    font-weight: normal;
}

div.wrapper section.why_aqaratc_slide div.why_aqaratc_slide_content_wrapper p {
    font-size: 1em;
    text-align: center;
    width: 300px;
    margin: 10px auto 50px auto;
}

div.wrapper section.why_aqaratc_slide div.why_aqaratc_slide_content_wrapper
div.why_content_container div.why_block {
    width: 300px;
    float: left;
}

div.wrapper section.why_aqaratc_slide div.why_aqaratc_slide_content_wrapper
div.why_content_container div.why_block:nth-child(2) {
    margin-left: 100px;
}

div.wrapper section.why_aqaratc_slide div.why_aqaratc_slide_content_wrapper
div.why_content_container div.why_block:last-child {
    float: right;
}

div.wrapper section.why_aqaratc_slide
div.why_aqaratc_slide_content_wrapper
div.why_content_container div.why_block div.icon {
    width: 150px;
    height: 150px;
    background: url(/img/why_sprite.png) no-repeat 0 0;
    margin: 0 auto 20px auto;
}

div.wrapper section.why_aqaratc_slide
div.why_aqaratc_slide_content_wrapper
div.why_content_container div.why_block div.icon.faster {
    background: url(/img/why_sprite.png) no-repeat 0 -155px;
}

div.wrapper section.why_aqaratc_slide
div.why_aqaratc_slide_content_wrapper
div.why_content_container div.why_block div.icon.safer {
    background: url(/img/why_sprite.png) no-repeat 0 -310px;
}

div.wrapper section.why_aqaratc_slide
div.why_aqaratc_slide_content_wrapper
div.why_content_container div.why_block div.icon + h2 {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 20px;
}

div.wrapper section.why_aqaratc_slide
div.why_aqaratc_slide_content_wrapper
div.why_content_container div.why_block div.icon + h2 + p {
    font-weight: lighter;
    font-size: 1.2em;
    text-align: center;
    width: 250px;
    margin: 0 auto;
}

div.wrapper section.why_aqaratc_slide
div.why_aqaratc_slide_content_wrapper
div.why_content_container + a:link,
div.wrapper section.why_aqaratc_slide
div.why_aqaratc_slide_content_wrapper
div.why_content_container + a:visited {
    display: block;
    clear: both;
    color: #0072c1;
    font-weight: bold;
    text-align: center;
    width: 200px;
    margin: 50px auto 0 auto;
    text-decoration: none;
    font-size: 1.2em;
    padding-right: 40px;
}

div.wrapper section.how_aqaratc_slide {
    width: 100%;
}

div.wrapper section.how_aqaratc_slide div.how_aqaratc_slide_content_wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}

div.wrapper section.how_aqaratc_slide div.how_aqaratc_slide_content_wrapper h1 {
    font-size: 1.8em;
    text-align: center;
    font-weight: normal;
    margin-bottom: 50px;
}

div.wrapper section.how_aqaratc_slide div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block {
    width: 250px;
    float: left;
}

div.wrapper section.how_aqaratc_slide div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block:nth-child(2) {
    margin-left: 45px;
}

div.wrapper section.how_aqaratc_slide div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block:nth-child(4) {
    margin-right: 45px;
}

div.wrapper section.how_aqaratc_slide div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block:last-child,
div.wrapper section.how_aqaratc_slide div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block:nth-child(3) {
    float: right;
}

div.wrapper section.how_aqaratc_slide
div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block div.icon {
    width: 96px;
    height: 96px;
    background: url(/img/how_sprite.png) no-repeat 0 0;
    margin: 0 auto 20px auto;
}

div.wrapper section.how_aqaratc_slide
div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block div.icon.enjoy {
    background: url(/img/how_sprite.png) no-repeat 0 -85px;
}

div.wrapper section.how_aqaratc_slide
div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block div.icon.rate {
    background: url(/img/how_sprite.png) no-repeat 0 -168px;
}

div.wrapper section.how_aqaratc_slide
div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block div.icon.fast {
    background: url(/img/how_sprite.png) no-repeat 0 -280px;
}

div.wrapper section.how_aqaratc_slide
div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block div.icon.save {
    background: url(/img/how_sprite.png) no-repeat 0 -393px;
}

div.wrapper section.how_aqaratc_slide
div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block div.icon.rate2 {
    background: url(/img/how_sprite.png) no-repeat 0 -595px;
}

div.wrapper section.how_aqaratc_slide
div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block div.icon.tour {
    background: url(/img/how_sprite.png) no-repeat 0 -498px;
}

div.wrapper section.how_aqaratc_slide
div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block div.icon + h2 {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 20px;
}

div.wrapper section.how_aqaratc_slide
div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block div.icon + h2 + p {
    font-weight: lighter;
    font-size: 1.1em;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

div.wrapper section.how_aqaratc_slide
div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block a:link,
div.wrapper section.how_aqaratc_slide
div.how_aqaratc_slide_content_wrapper
div.how_content_container div.how_block a:visited {
    display: block;
    color: #0072c1;
    font-weight: bold;
    text-align: center;
    width: 200px;
    margin: 10px auto 0 auto;
    text-decoration: none;
}

div.wrapper section.consult_slide {
    background: #479dce;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper h1 {
    font-size: 1.8em;
    text-align: center;
    font-weight: normal;
    color: #FFF;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper p {
    font-size: 1em;
    text-align: center;
    width: 400px;
    margin: 10px auto 50px auto;
    color: #FFF;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser {
    background: #f1f1f1;
    width: 950px;
    margin: 0 auto;
    border-radius: 10px;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.browser_bar {
    background: #d8d8d8;
    height: 55px;
    border-radius: 10px 10px 0 0;
    position: relative;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.browser_bar a.button {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #ccc;
    float: left;
    margin-right: 5px;
    margin-top: 23px;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.browser_bar a.button:first-child {
    margin-left: 15px;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.browser_bar a.button.close {
    background: #e04545;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.browser_bar a.button.minimize {
    background: #ffbe59;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.browser_bar a.button.maximize {
    background: #70d054;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.browser_bar div.url {
    float: left;
    background: #eaeaea;
    margin-top: 15px;
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 20px;
    width: 780px;
    color: #666;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form,
div.action form {
    padding: 30px;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form form div.left,
div.action form div.left {
    float: left;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form form div.right,
div.action form div.right {
    float: right;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form form div.label,
div.action form div.label {
    width: 445px;
    margin-bottom: 20px;
    position: relative;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label label,
div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label input,
div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label select,
div.action form div.label label,
div.action form div.label input,
div.action form div.label select {
    display: block;
    color: #666;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label label,
div.action form div.label label {
    font-size: 0.95em;
    font-weight: bold;
    margin-bottom: 10px;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label select,
div.action form select,
div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label input[type=text],
div.action form input[type=text],
div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label input[type=email],
div.action form input[type=email],
div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label textarea,
div.action form textarea {
    background: #f7f7f7;
    box-sizing: border-box;
    width: 400px;
    border-radius: 0;
    border: solid 1px #e4e4e4;
    padding: 7px 15px;
    line-height: 1.7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
    outline: none;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label input[type=text],
div.action form input[type=text],
div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label input[type=email],
div.action form input[type=email],
div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label textarea,
div.action form textarea {
    cursor: auto;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label textarea,
div.action form div.label textarea {
    width: 430px;
    height: 160px;
    margin-bottom: 10px;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label textarea + input[type=submit],
div.action form div.label textarea + input[type=submit] {
    display: block;
    padding: 11px 15px;
    border-radius: 5px;
    background: #0072c1;
    color: #fff;
    text-align: center;
    width: 430px;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label input::placeholder,
div.action form div.label input::placeholder {
    color: #999;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label select:focus,
div.action form div.label select:focus {
    outline: none;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label.select::after,
div.action form div.label.select::after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    content: 'keyboard_arrow_down';
    position: absolute;
    top: 37px;
    right: 55px;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label span.red {
    color: #f00;
}

div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form p.notfound {
    color: #000;
    font-size: 1.2em;
}

div.wrapper footer {
    width: 100%;
    background: #f7f7f7;
}

div.wrapper div.footer_content_wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 50px 0 30px 0;
}

div.wrapper div.footer_content_wrapper div.footer_block {
    width: 200px;
    float: left;
}

div.wrapper div.footer_content_wrapper div.footer_block:first-child {
    width: 340px;
}

div.wrapper div.footer_content_wrapper div.footer_block img {
    display: block;
    margin-bottom: 15px;
}

div.wrapper div.footer_content_wrapper div.footer_block h1 {
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;
}

div.wrapper div.footer_content_wrapper div.footer_block ul {
    list-style: none;
}

div.wrapper div.footer_content_wrapper div.footer_block ul li {
    text-align: center;
    line-height: 1.5;
}

div.wrapper div.footer_content_wrapper div.footer_block ul li a:link,
div.wrapper div.footer_content_wrapper div.footer_block ul li a:visited {
    text-decoration: none;
}

div.wrapper div.footer_content_wrapper div.footer_block ul li a:hover,
div.wrapper div.footer_content_wrapper div.footer_block ul li a:active {
    text-decoration: underline;
}

div.wrapper div.footer_content_wrapper div.footer_block p:last-child {
    margin-top: 25px;
    font-weight: bold;
    font-size: 1.1em;
}

div.wrapper div.footer_content_wrapper div.footer_block p:last-child a {
    display: inline-block;
    margin: 0 5px 0 0;
}

div.wrapper div.footer_content_wrapper div.footer_block p:last-child a:first-of-type {
    margin-left: 15px;
}

div.wrapper div.copyrights {
    background: #e4e4e4;
    padding: 10px;
}

div.wrapper div.copyrights p {
    text-align: center;
}

div.ui-loader {
    display: none !important;
}

div.action {
    background: #FFF;
    width: 600px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}

div.action form div.label {
    width: 250px;
}

div.action form div.label select,
div.action form div.label input[type=text],
div.action form div.label input[type=email],
div.action form div.label textarea {
    width: 100%;
    border-radius: 0;
}

div.action form div.label input[type=submit] {
    width: 250px !important;
    border-radius: 0 !important;
}

div.action form div.label.select::after {
    right: 10px;
}

div.steps {
    width: 600px;
    margin: 10px auto 0 auto;
}

div.steps div.step {
    height: 10px;
    width: 190px;
    background: #fff;
    float: left;
    margin-right: 15px;
}

div.steps div.step:last-child {
    margin-right: 0;
}

div.steps div.step.selected {
    background: #ecc285;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* Responsive Styles */
@media screen and (max-width: 575px) {

    div.wrapper section.home_slide div.home_slide_content_wrapper,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper,
    div.wrapper section.why_aqaratc_slide div.why_aqaratc_slide_content_wrapper,
    div.wrapper section.how_aqaratc_slide div.how_aqaratc_slide_content_wrapper,
    div.wrapper section.consult_slide div.consult_slide_content_wrapper,
    div.wrapper div.footer_content_wrapper {
        width: 100%;
    }

    div.wrapper section.home_slide {
        position: relative;
        background-image: url(/img/home_slide_mobile_background.jpg);
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: auto auto;
    }

    div.wrapper section.buy_slide {
        padding-top: 90px;
        height: 130px;
        background-position: center top;
    }

    div.wrapper section.buy_slide h1 {
        font-size: 1em;
        width: 90%;
        box-sizing: border-box;
    }

    div.wrapper section.buy_slide h1 + p {
        display: none;
    }

    div.wrapper div.footer_content_wrapper {
        padding: 20px 0 20px 0 !important;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper {
        padding-top: 1px;
        position: relative;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper a.mobile_menu,
    div.wrapper section.home_slide div.home_slide_content_wrapper div.overlay,
    div.wrapper section.home_slide div.home_slide_content_wrapper ul.mobile_menu,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper a.mobile_menu,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper div.overlay,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper ul.mobile_menu {
        display: block;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.overlay,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper div.overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        z-index: 2;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.overlay.show,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper div.overlay.show {
        opacity: 1;
        visibility: visible;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper a.mobile_menu,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper a.mobile_menu {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 2em;
        color: #666;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper a.mobile_menu {
        color: #fff;
        z-index: 1;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper ul.mobile_menu,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper ul.mobile_menu {
        position: fixed;
        width: 70%;
        height: 100%;
        background: #f1f1f1;
        top: 0;
        left: -80%;
        box-sizing: border-box;
        z-index: 3;
        transition: all 0.3s ease-in-out;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper ul.mobile_menu.show,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper ul.mobile_menu.show {
        left: 0;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper ul.mobile_menu li,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper ul.mobile_menu li {
        margin-left: 13px;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper ul.mobile_menu li:first-child,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper ul.mobile_menu li:first-child {
        margin-top: 20px;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper ul.mobile_menu li a:link,
    div.wrapper section.home_slide div.home_slide_content_wrapper ul.mobile_menu li a:visited,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper ul.mobile_menu li a:link,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper ul.mobile_menu li a:visited {
        display: block;
        padding: 15px;
        text-decoration: none;
        font-size: 1.2em;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper ul.mobile_menu li a i,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper ul.mobile_menu li a i {
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper ul.mobile_menu a.close,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper ul.mobile_menu a.close {
        position: absolute;
        right: -30px;
        top: 10px;
        font-size: 1.5em;
        color: #fff;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.logo,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper div.logo {
        float: none;
        margin: 20px auto 0 auto;
        width: 150px;
    }

    div.wrapper section.home_slide_template div.home_slide_content_wrapper div.logo {
        margin: 20px auto 0 auto;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper h1,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper h1 {
        float: none;
        border: none;
        text-align: center;
        margin: 0 0 0 -10px;
    }

    div.wrapper section.home_slide_template div.home_slide_content_wrapper h1 {
        display: none;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.authentication,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper div.authentication,
    div.wrapper section.home_slide div.home_slide_content_wrapper div.head_tool_bar,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper div.head_tool_bar {
        display: none;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container {
        width: 90% !important;
        padding-top: 80px;
        box-sizing: border-box;
        margin: 0 auto !important;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container form {
        position: relative;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container form button {
        float: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul {
        margin-bottom: 20px;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul,
    div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container form,
    div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container form+p {
        width: 100%;
        padding: 0 !important;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul li {
        margin: 0 !important;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul li a:link,
    div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container ul li a:visited {
        font-size: 0.9em;
        padding: 5px 8px;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container form input[type=text] {
        width: 100%;
    }

    div.wrapper section.home_slide div.home_slide_content_wrapper div.search_container h1 {
        font-size: 1.5em;
    }

    div.wrapper section.why_aqaratc_slide div.why_aqaratc_slide_content_wrapper
    div.why_content_container div.why_block {
        float: none !important;
        margin: 30px auto !important;
    }

    div.wrapper section.why_aqaratc_slide div.why_aqaratc_slide_content_wrapper
    div.why_content_container+a:link, div.wrapper section.why_aqaratc_slide
    div.why_aqaratc_slide_content_wrapper div.why_content_container+a:visited {
        padding: 0;
        margin: 20px auto 0 auto;
    }

    div.wrapper section.how_aqaratc_slide div.how_aqaratc_slide_content_wrapper
    div.how_content_container div.how_block {
        float: none !important;
        margin: 30px auto !important;
    }

    div.wrapper section.consult_slide div.consult_slide_content_wrapper h1 {
        width: 80%;
        margin: 0 auto;
    }

    div.wrapper section.consult_slide div.consult_slide_content_wrapper p {
        width: auto;
    }

    div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser {
        width: 90%;
    }

    div.action {
        width: 85%;
    }

    div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.browser_bar div.url {
        width: 180px;
        font-size: 0.85em;
        margin-top: 17px;
        margin-left: 13px;
        overflow: hidden;
    }

    div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form form div.left,
    div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form form div.right {
        float: none;
    }

    div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form form div.label,
    div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label select,
    div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label input[type=text],
    div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label input[type=email],
    div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label textarea,
    div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label textarea+input[type=submit] {
        width: 100%;
    }

    div.wrapper section.consult_slide div.consult_slide_content_wrapper div.browser div.consult_form div.label.select::after {
        right: 10px;
    }

    div.wrapper div.footer_content_wrapper div.footer_block:first-child {
        width: 80%;
    }

    div.wrapper div.footer_content_wrapper div.footer_block img {
        margin: 0 auto 15px auto;
    }

    div.wrapper div.footer_content_wrapper div.footer_block p {
        text-align: center;
    }

    div.wrapper div.footer_content_wrapper div.footer_block p:last-child {
        margin-top: 10px;
    }

    div.wrapper div.footer_content_wrapper div.footer_block {
        float: none !important;
        margin: 30px auto !important;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {
    div.wrapper section.home_slide div.home_slide_content_wrapper div.logo,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper div.logo {
        float: none;
    }
    div.wrapper section.home_slide div.home_slide_content_wrapper h1,
    div.wrapper section.home_slide_template div.home_slide_content_wrapper h1 {
        float: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 1024px) {

}